.ApiKeyManager {
  .keyManagerButton {
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition-duration: 0.2s;
    color: var(--grey-600);
    border: 2px solid var(--grey-500);
    background-color: var(--grey-200);

    &:hover {
      background-color: var(--grey-300);
    }

    &.warning {
      color: rgb(255, 157, 0);
      background-color: rgba(255, 157, 0, 0.2);
      border-color: rgb(255, 157, 0);

      &:hover {
        background-color: rgba(255, 157, 0, 0.3);
      }
    }
  }

}

.apiKeyDialog {
  .apiKeyInput {
    margin-top: 1rem;
  }

  .apiKeyButton {
    margin-top: -0.5rem;
  }
}