@import 'reset-css';

html, body {
  margin: 0;
  padding: 0;

  /* Colors */
  --primary-color: #41D9E1;
  --secondary-color: #6C65B0;
  --secondary-darker-color: #3B5684ff;
  --primary-darker-color: #2B5066ff;
  --white: #efefef;
  --grey-900: #F2F2F2ff;
  --grey-800: #E5E5E5ff;
  --grey-700: #D8D8D8ff;
  --grey-600: #CBCBCBff;
  --grey-500: #3A3F46ff;
  --grey-400: #2D3136ff;
  --grey-300: #282E34ff;
  --grey-200: #1B1E22ff;
  --grey-100: #0E151Bff;
  --black: #010508ff;
}

body {
  background-color: var(--grey-100);
  color: white;
  font-family: 'Inter', sans-serif;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--black);
}

a, a:link, a:visited {
  color: var(--grey-600);
  font-weight: 600;

  &:hover {
    color: var(--white);
  }
}